body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(1rem, 0.6rem + 1vw, 2rem);
  background-color: var(--vlgb);
  color: var(--vdgb);
  transition: background-color 0.2s ease, color 0.2s ease;
}

:root {
  --vlg: hsl(0, 0%, 98%);
  --vlgb: hsl(236, 33%, 92%);
  --lgb: hsl(233, 11%, 84%);
  --dgb: hsl(236, 9%, 61%);
  --vdgb: hsl(235, 19%, 35%);
  /*dark mode*/
  /* --vlg: hsl(235, 24%, 19%);
  --vlgb: hsl(235, 21%, 11%);
  --lgb: hsl(236, 9%, 61%);
  --dgb: hsl(236, 9%, 61%);
  --vdgb: hsl(236, 9%, 61%); */
}
.darkmode {
  /*dark mode*/
  --vlg: hsl(235, 24%, 19%);
  --vlgb: hsl(235, 21%, 11%);
  --lgb: hsl(236, 9%, 61%);
  --dgb: hsl(236, 9%, 61%);
  --vdgb: hsl(236, 9%, 61%);
}
.wrapper {
  position: relative;
  /* background-color: var(--dgb); */
}
.wrapper {
  background: linear-gradient(
    to right,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
  background-image: url(images/bg-mobile-light.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 170px;
  height: 10vh;
  max-height: 300px;
}
.header {
  max-width: 600px;
  margin: auto;
  padding: 0 20px;
}
.logo-mode-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-mode-container h1 {
  color: hsl(0, 0%, 98%);
}
.mode {
  width: 15px;
}
.mode:hover {
  cursor: pointer;
}
.mode img {
  width: 100%;
}
form {
  position: relative;
}
form input {
  background-color: var(--vlg);
  color: var(--vdgb);
  font-size: clamp(1rem, 0.6rem + 1vw, 2rem);
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  border: none;
  outline: none;
}
form input::placeholder {
  color: var(--lgb);
}
form button {
  padding: 16px;
  background: linear-gradient(
    to right,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
  border-radius: 8px;
  color: hsl(0, 0%, 98%);
  display: block;
  border: none;
  outline: none;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
}
.main {
  max-width: 600px;
  margin: 16px auto 0 auto; /* top, right/left, bottom */
  padding: 0 20px;
}
.tasks {
  max-width: 600px;
  margin: auto;
  border-radius: 8px;
  background-color: var(--vlg);
}
.task {
  padding: 8px 16px;
  border-bottom: 1px solid var(--vlgb);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
  /* background-color: var(--vlg); */
}
.task div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.task p {
  display: block;
}
.strike {
  text-decoration: line-through;
  color: var(--lgb);
}
.clear-num-container {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
}
.check {
  width: 10px;
  height: 10px;
  padding: 5px;
  border-radius: 50%;
  border: 1px solid hsl(233, 11%, 84%);
  cursor: pointer;
}
.check img {
  width: 100%;
  /* visibility: hidden; */
  display: none;
}

.check.checked {
  background: linear-gradient(
    to right,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
}

.check.checked img {
  /* visibility: visible; */
  display: block;
}
.delete {
  width: 10px;
  height: 10px;
  cursor: pointer;
}
.delete img {
  width: 100%;
}

.status {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 8px;
  box-sizing: border-box;
  max-width: 600px;
  margin: auto;
  margin-top: 16px;
  background-color: var(--vlg);
  border-radius: 8px;
}
.status p:hover {
  cursor: pointer;
  color: hsl(220, 98%, 61%);
}
.clear-task:hover {
  cursor: pointer;
  color: hsl(220, 98%, 61%);
}
.sun {
  display: none;
}
.moon {
  display: block;
}
.drag-drop {
  margin-top: 30px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .wrapper {
    background-image: url(images/bg-desktop-light.jpg);
    min-height: 200px;
    height: 16vh;
    max-height: 300px;
  }
  .main {
    /* margin-top: 8px; */
  }
}
@media screen and (min-width: 1024px) {
  .wrapper {
    background-image: url(images/bg-desktop-light.jpg);
    min-height: 230px;
    height: 35vh;
    max-height: 300px;
  }
}
