body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-size: clamp(1rem, 0.6rem + 1vw, 2rem); */
  background-color: var(--light-grayish);
}
* {
  font-size: clamp(0.9rem, 0.5rem + 1vw, 1rem);
  color: var(--vd-grayish);
}
:root {
  --light-gray: hsl(0, 0%, 98%);
  --light-grayish: hsl(236, 33%, 92%);
  --dark-grayish: hsl(236, 9%, 61%);
  --vd-grayish: hsl(235, 19%, 35%);
}
.wrapper {
  position: relative;
  background-color: var(--light-grayish);
}
.wrapper {
  background: linear-gradient(
    to right,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
  background-image: url(images/bg-mobile-light.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 170px;
  height: 10vh;
  max-height: 300px;
}
.header {
  max-width: 600px;
  margin: auto;
  padding: 0 20px;
}
.logo-mode-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-mode-container h1 {
  color: hsl(0, 0%, 98%);
}
.mode {
  width: 15px;
}
.mode img {
  width: 100%;
}
form {
  position: relative;
}
form input {
  background-color: var(--light-gray);
  color: var(--dark-grayish);
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  border: none;
  outline: none;
}
form button {
  padding: 16px;
  background: linear-gradient(
    to right,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
  border-radius: 8px;
  color: var(--light-gray);
  display: block;
  border: none;
  outline: none;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
}
.main {
  max-width: 600px;
  margin: 28px auto 0 auto; /* top, right/left, bottom */
  padding: 0 20px;
}
.tasks {
  max-width: 600px;
  margin: auto;
  border-radius: 8px;
  background-color: var(--light-gray);
}
.task {
  padding: 8px 16px;
  border-bottom: 1px solid var(--dark-grayish);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.task p {
  display: block;
}
.strike {
  text-decoration: line-through;
}
.clear-num-container {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
}
.check {
  width: 10px;
  height: 10px;
  padding: 5px;
  border-radius: 50%;
  border: 1px solid var(--light-grayish);
  cursor: pointer;
}
.check img {
  width: 100%;
  /* visibility: hidden; */
  display: none;
}

.check.checked {
  background: linear-gradient(
    to right,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
}

.check.checked img {
  /* visibility: visible; */
  display: block;
}
.delete {
  width: 10px;
  height: 10px;
  cursor: pointer;
}
.delete img {
  width: 100%;
}

.status {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 8px;
  box-sizing: border-box;
  max-width: 600px;
  margin: auto;
  margin-top: 16px;
  background-color: var(--light-gray);
  border-radius: 8px;
}
.status p {
  cursor: pointer;
}
.status p:hover {
  color: hsl(220, 98%, 61%);
}
.drag-drop {
  margin-top: 30px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .wrapper {
    background-image: url(images/bg-desktop-light.jpg);
    min-height: 200px;
    height: 16vh;
    max-height: 300px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper {
    background-image: url(images/bg-desktop-light.jpg);
    min-height: 230px;
    height: 35vh;
    max-height: 300px;
  }
  .main {
    margin-top: 40px;
  }
}
